
    <mat-card class="topcard">
        <mat-card-title>user details: </mat-card-title>
        <mat-card-content>
            <div class="container">
                <mat-card>
                    <mat-card-title>Name:</mat-card-title>
                    <mat-card-content>{{this.user.name}} </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title>Email:</mat-card-title>
                    <mat-card-content> {{this.user.email}} </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title>isGirl:</mat-card-title>
                    <mat-card-content> {{this.user.isGirl}}  </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title>Age:</mat-card-title>
                    <mat-card-content> {{this.user.age}}  </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
   
